<div class="col-md-4">
    <div class="card bg-light mb-3">
        {% for image in ad.images %}    
            <a href="#">
                <img src="{{asset('uploads/' ~ image.name)}}" alt="Image de l'appartement" style="height: 200px; width: 100%;">
                <hr>
            </a>
        {% endfor %}
    </div>
</div>